<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>XYZ Book Rental - Sign Up</title>
  <%= stylesheet_link_tag 'style' %>
</head>

<body>
<div class="new-book-container">
  <h1>New Book</h1>

  <%= form_with(model: @book, local: true) do |form| %>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div>
      <%= form.label :author %>
      <%= form.text_field :author %>
    </div>

    <div>
      <%= form.label :total_quantity %>
      <%= form.number_field :total_quantity %>
    </div>

    <div>
      <%= form.label :price %>
      <%= form.number_field :price %>
    </div>

    <div>
      <%= form.submit 'Add Book' %>
    </div>
  <% end %>
</div>
</body>

</html>
