<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>XYZ Book Rental - Sign Up</title>
  <%= stylesheet_link_tag 'style' %>
  <style>
    .new-book-container {
      margin: 20px;
      display: flex;
    }

    .book-details {
      flex: 1;
      margin-right: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>
</head>

<body>
  <div class="new-book-container">
    <div class="book-details">
      <h1><%= @book.title %></h1>

      <table>
        <tbody>
          <tr>
            <th>Author</th>
            <td><%= @book.author %></td>
          </tr>
          <tr>
            <th>Total Quantity</th>
            <td><%= @book.total_quantity %></td>
          </tr>
          <tr>
            <th>Available Quantity</th>
            <td><%= @book.available_quantity || 0 %></td>
          </tr>
          <tr>
            <th>Price</th>
            <td><%= @book.price%></td>
          </tr>
        </tbody>
      </table>

      <% if user_signed_in? %>
        <% if @book.available_quantity.to_i > 0 && !current_user.rented?(@book) %>
          <%= link_to 'Rent', rent_book_path(@book), method: :post, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </div>

    <div class="borrowed-by">
      <h2>Borrowed By:</h2>
      <table>
        <thead>
          <tr>
            <th>User</th>
            <th>Due Date</th>
          </tr>
        </thead>
        <tbody>
          <% @book.rentals.each do |rental| %>
            <tr>
              <td><strong>User:</strong> <%= rental.user.firstname %></td>
              <% if rental.due_date.present? %>
                <td><strong>Due Date:</strong> <%= rental.due_date.strftime('%B %d, %Y') %></td>
              <% else %>
                <td><strong>Due Date:</strong> Not available</td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>
