<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Joy² Book Rental - Log In</title>
  <%= stylesheet_link_tag 'style' %>
</head>
<body>
  <div class="form-container">
    <h1>Book Rental<h1>
    <h3>Log in</h3>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'mt-3') do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group form-check">
          <%= f.check_box :remember_me, class: 'form-check-input' %>
          <%= f.label :remember_me, class: 'form-check-label' %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.submit "Log in", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</body>

</html>
